name: Merge from upstream and deploy

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  schedule:
    - cron: '1/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false
      
    - name: git remote add upstream
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git remote add upstream https://njc-naru:${GITHUB_TOKEN}@github.com/tokyo-metropolitan-gov/covid19.git
        git fetch upstream
        git remote set-url origin https://njc-naru:${GITHUB_TOKEN}@github.com/njc-naru/covid19.git
        git checkout -B originsite upstream/development
        git config --global user.email "you@example.com"
        git config --global user.name "njc-naru"
        git rm .github
        git commit -m ".githubを削除"
        git push -f origin originsite
